#about {
  width: 100%;
  height: 300px;
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;

}

#about .ab_content {
  width: 85%;
  margin: 0 auto;
}


#about .ab_content h1 {
  text-align: center;
  font-size: 36px;
  padding-top: 30px;
}

#about .ab_content h1::after {
  width: 60px;
  display: block;
  height: 2px;
  margin: 10px auto;
  background-color: #009688;
  content: "";
}

#about .ab_content p {
  padding: 20px;
  word-break: break-all;
}

#about .ab_content .con_out {
  padding: 0px 20px 10px 20px;
}

#about .ab_content a {
  font-weight: 500;
  color: #009688;
  text-decoration: none;
}

@media(max-width:768px) {
  #about .ab_content h1 {
    font-size: 28px;
  }
}
