html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
}

@media(max-width:767px) {
  body {
    font-size: 16px;
  }
}

.wrapper {
  overflow-y: scroll;
}

.content {
  /* display: flex;
  justify-content: center; */
  display: block;
  width: 1150px;
  height: 100%;
  margin: 55px auto 20px auto;
}

@media(max-width: 1225px) and (min-width: 998px) {
  .content {
    width: 970px;
  }
}

@media(max-width: 998px) and (min-width: 768px) {
  /* .content .right-content {
    display: none;
  } */

  .content {
    width: 750px;
    display: flex;
    justify-content: center;
  }

  /* .content .left-content {
    display: none;
  } */
}






/* 隐藏滚动条 */
.content::-webkit-scrollbar {
  width: 0 !important
}

.content .el-row {
  height: 100%;
}

.content .el-row .el-col {
  height: 100%;
}

/* .el-row :last-child {
  margin-bottom: 0;
} */




/* footer {
  display: block;
  position: absolute;
  width: 100%;
  height: 80px;
  background: #333333;
  text-align: center;
  color: white;
  line-height: 80px;
} */
