* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eceff1;
}

.content {
  display: block;
  position: relative;
  width: 1150px;
  margin: 0px auto 0px auto;
}

.content_left {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  width: 74%;
}

.content_right {
  position: absolute;
  top: 20px;
  right: -20px;
  display: inline-block;
  width: 25%;
  margin: 20px 0px 0px 0px;
}

.header {
  position: relative;
  width: 100%;
  height: 450px;
  background: white;
  margin-bottom: 15px;
}


.header_content {
  position: relative;
  width: 1150px;
  height: 100%;
  margin: 0px auto 0px auto;
}

.header_content span {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 220px;
  line-height: 50px;
  font-size: 18px;
}

.header_content ul {
  position: absolute;
  display: inline-block;
  /* left: 230px; */
  right: 0px;
  top: 0px;
  width: 250px;
  height: 100%;
}

.header_content>ul>li {
  width: 60px;
  height: 100%;
  float: left;
  list-style: none;
  text-align: center;
}

.header_content>ul>li>a {
  font-size: 14px;
  line-height: 50px;
  text-decoration: none;
}

/* 图片 */
.site-header {
  position: absolute;
  background: url(../../img/img3.jpg);
  background-size: 2000px 400px;
  width: 100%;
  height: 400px;
  top: 50px;
  text-align: center;
  background-repeat: no-repeat;
}

.site-header h1 {
  position: relative;
  color: #fff;
  font-size: 3.5em;
  font-weight: 700;
  margin-top: 75px;
  text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px,
    rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

.site-header h1::after {
  position: absolute;
  width: 70px;
  display: block;
  height: 3px;
  left: 50%;
  margin-left: -30px;
  bottom: -15px;
  background-color: #fff;
  content: "";
}

.site-header h2 {
  position: relative;
  display: block;
  color: #fff;
  top: 5%;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
  text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px,
    rgba(0, 0, 0, 0.5) 1px 1px 1px;
}


footer {
  display: block;
  position: absolute;
  width: 100%;
  height: 80px;
  background: #333333;
  text-align: center;
  color: white;
  line-height: 80px;
}
