#blogComment {
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.addComment {
  margin-top: 20px;
  width: 100%;
  /* height: 450px; */
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}

.addComment p {
  padding: 20px 30px;
  font-size: 30px;
  font-weight: 600;
}

.addComment input {
  width: 40%;
  height: 30px;
  border-radius: 5px;
  margin: 10px 50px;
  padding: 5px;
}

.addComment textarea {
  width: 80%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #000;
  margin: 5px 50px;
  padding: 5px;
  font-size: 16px;
}

.addComment button {
  width: 100px;
  font-size: 18px;
  background-color: #455A64;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px 50px;
  padding: 10px;
}

.addComment button:hover {
  background: gray;
}

/* 评论显示 */
#blogComment ul {
  width: 100%;
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
}

#blogComment ul li {
  list-style: none;
  padding: 10px 50px;
}

#blogComment ul li .comment-author {
  font-size: 18px;
  display: flex;
  align-items: center;
}

#blogComment ul li .comment-author img {
  width: 40px;
  height: 40px;
  top: 20px;
  margin-right: 10px;
  border-radius: 50%;
}


#blogComment ul li .comment-author b {
  font-weight: bold;
}

#blogComment ul li .comment-ctime {
  color: #AAAAAA;
  font-size: 14px;
  margin-top: 10px;
}

#blogComment ul li .comment-content {
  font-size: 18px;
}

#blogComment ul li .comment-content p {
  margin: 10px 0px 0px 0px;
}


@media(max-width:768px) {
  .addComment p {
    font-size: 24px;
    padding: 10px 20px;
  }

  .addComment input {
    height: 20px;
    margin: 5px 20px;
  }

  .addComment textarea {
    height: 120px;
    margin: 5px 20px;
    font-size: 14px;
  }

  .addComment button {
    width: 76px;
    margin: 10px 20px;
    font-size: 14px;
  }

  #blogComment ul li {
    padding: 8px 20px;

  }

  #blogComment ul li .comment-author img {
    width: 25px;
    height: 25px;
  }

  #blogComment ul li .comment-author {
    font-size: 14px;
  }

  #blogComment ul li .comment-ctime {
    font-size: 12px;
    margin-top: 10px;
  }

  #blogComment ul li .comment-content {
    font-size: 14px;
  }
}
