#blogList ul li {
  height: 300px;
  background: white;
  box-sizing: border-box;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
}

#blogList ul li h2 {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  cursor: pointer;
}

#blogList ul li h2:hover {
  color: #009688;
}

/* 发布时间 */
#blogList ul li .items {
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#blogList ul li .items h5 {
  font-size: 14px;
  color: #009688;
}

/* 文本内容 */
#blogList ul li .swap {
  height: 160px;
  /* display: flex; */
  /* text-align: justify; */
}

#blogList ul li .swap .text {
  font-size: 18px;
  line-height: 1.7em;
  margin: 0px 30px 0px 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


#blogList ul li .swap h4 {
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}

#blogList ul li .swap h4::after {
  width: 80px;
  display: block;
  height: 1px;
  margin: 10px auto;
  background-color: #009688;
  content: "";
}

#blogList ul li .swap h4:hover {
  color: #009688;
}
