#map {
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}

#map .nav {
  position: relative;
  padding: 0px 20px 10px 20px;
}

#map .nav h1 {
  text-align: center;
  padding: 30px 10px 10px 10px;
  font-size: 36px;
}

#map .nav h1::after {
  position: absolute;
  width: 150px;
  display: block;
  height: 2px;
  left: 50%;
  margin-left: -75px;
  top: 90px;
  background-color: #009688;
  content: "";
}

#map .nav .item {
  padding: 30px 10px 10px 10px;
  border-bottom: 1px solid #eeeeee;
}

#map a {
  color: #212121;
  text-decoration: none
}

#map a:hover {
  color: #009688;
}

#map .catalogue {
  /* padding-bottom: 20px; */
  position: relative;
  margin: 0px auto 20px auto;
  width: 90%;
  padding: 10px 20px 10px 20px;
}

#map .catalogue h2 {
  padding: 10px 0px 30px 0px;
  font-size: 30px;
  font-weight: 700;
}

#map .catalogue h2::after {
  position: absolute;
  width: 70px;
  display: block;
  height: 4px;
  /* left: 0; */
  /* margin-left: -75px; */
  top: 70px;
  background-color: #009688;
  content: "";
}



#map .catalogue ul {
  width: 100%;
  padding: 5px 0 30px 0;

}

#map .catalogue li {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  list-style-type: none;
  padding: 5px 10px 0px 40px;
}

#map .catalogue li::before {
  position: absolute;
  height: 16px;
  display: block;
  width: 5px;
  left: 40px;
  margin-top: 8px;
  background-color: #009688;
  content: "";
}
