#comment {
  width: 100%;
  background: white;
  height: 300px;
  /* margin: 40px 0px 0px 0px; */
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}

#comment h1 {
  text-align: center;
  font-size: 36px;
  padding: 30px 20px 30px 20px;
}

#comment h1::after {
  width: 70px;
  display: block;
  height: 2px;
  margin: 10px auto;
  background-color: #009688;
  content: "";
}

#comment p {
  padding: 20px 50px 20px 50px;
}
