.right {
  width: 100%;
  height: 100%;
}

/* 公告栏 */
#notice_board {
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}

#notice_board h4 {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#notice_board h4::after {
  width: 50px;
  display: block;
  height: 4px;
  bottom: -15px;
  background-color: #009688;
  content: "";
}

#notice_board .wrap {
  padding-bottom: 20px;
}

#notice_board .wrap div:nth-last-child(1) {
  border: none;
}

#notice_board .wrap .public_notice {
  /* width: 180px; */
  margin: 0px auto;
  border-bottom: 1px solid #ddd;
  padding: 10px 30px;
}

#notice_board .wrap .public_notice p {
  color: #727272;
  font-size: 16px;
}

/* 随机标签云 */
#tags_cloud {
  margin-top: 40px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}

#tags_cloud h4 {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-radius: 3px;
  line-height: 40px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#tags_cloud h4::after {
  position: absolute;
  width: 50px;
  display: block;
  height: 4px;
  bottom: -15px;
  background-color: #009688;
  content: "";
}

#tags_cloud div {
  position: relative;
  display: block;
  padding: 10px 20px 20px 20px;
  /* 英文超出范围后强制换行 */
  word-break: break-word;
}

#tags_cloud a {
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
}

#tags_cloud a:hover {
  cursor: pointer;
}

/* 近期文章 */
#recent_blog {
  position: relative;
  /* height: 400px; */
  margin-top: 40px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}

#recent_blog h4 {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

#recent_blog h4::after {
  position: absolute;
  width: 50px;
  display: block;
  height: 4px;
  bottom: -15px;
  background-color: #009688;
  content: "";
}

#recent_blog ul {
  padding-bottom: 20px;
}

#recent_blog li {
  list-style: none;
  width: 65%;
  margin: 0px auto;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px 10px 10px;
  cursor: pointer;
}

#recent_blog li:nth-last-child(1) {
  border: none;
}

#recent_blog li a {
  color: #727272;
  font-size: 16px;
  text-decoration: none;
}

#recent_blog li a:hover {
  color: #009688;
}
